body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #c7c0ae;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.sun {
	width: 300px;
}

.sun-section {
	background: transparent  url(../img/mars-pano.jpg) no-repeat center top;
	background-size: cover;
}

.dipper {
	width: 300px;
	opacity: 0;
}

.js-dipper-fade {
	/* Don't forget to put in all the prefixes!!! */
	-webkit-animation: dipper-fade 1s linear forwards;
}

/* Don't forget to put in all the prefixes!!! */
@-webkit-keyframes dipper-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.shuttle {
	width: 300px;
	opacity: 0;
	position: relative;
	top: 5em;
}

.shuttle-section {
	background: rgba(255,166,0,1.00);
	background-size: cover;
}
	
.js-shuttle-fade {
	/* Don't forget to put in all the prefixes!!! */
	-webkit-animation: shuttle-fade 800ms linear forwards;
}

/* Don't forget to put in all the prefixes!!! */
@-webkit-keyframes shuttle-fade {
	0% {
		opacity: 0;
		top: 6em;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}

.ship-section {
	background: transparent url(../img/kasei-valles-canyons.jpg) no-repeat center top;
	background-size: cover;
	text-align: center;
}

.ship-1 {
	width: 150px;
	opacity: 0;
	position: relative;
	display: inline-block;
	top: 6em;
}

.ship-2 {
	width: 150px;
	opacity: 0;
	position: relative;
	display: inline-block;
	top: 8em;
}

.js-ship-1-fade {
	/* Don't forget to put in all the prefixes!!! */
	-webkit-animation: ship-1-fade 800ms linear forwards;
}

/* Don't forget to put in all the prefixes!!! */
@-webkit-keyframes ship-1-fade {
	0% {
		opacity: 0;
		top: 6em;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}

.js-ship-2-fade {
	/* Don't forget to put in all the prefixes!!! */
	-webkit-animation: ship-2-fade 800ms linear forwards;
}

@-webkit-keyframes ship-2-fade {
	0% {
		opacity: 0;
		top: 8em;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}